.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
}

.Navbar__logo {
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 0 13px;
    font-size: 42px;
    font-weight: 400;
    color: white;
    height: 100%;
    background-color: #021b35;
}
.Navbar__slider__container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 35px;
    color: #021b35;
    background-color: white;
    -webkit-box-shadow: inset 20px 2px 50px -30px #021b35;
    box-shadow: inset 20px 2px 50px -30px #021b35;
}
.Navbar__slider__detail {
    font-weight: 400;
    letter-spacing: 1px;
}
.Navbar__logo a:hover,
.Navbar__logo a {
    color: white;
    text-decoration: none;
}
.Navbar__slider {
    width: 340px;
    margin: 0 10px;
    display: inline-block;
}

.rc-slider-track {
    background-color: transparent;
}
.rc-slider-handle {
    margin-top: -6px;
    width: 20px;
    height: 20px;
}
.rc-slider-rail {
    height: 8px;
}
